<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="./assets/css/index.css">
        <script>const exports = {};</script>
        <title><%= appname %> </title>
    </head>
    <body>
        <%- include('frame',{appver:appver,appname:appname}) %>
        <div id="wrapper">
            <div id="app">
                <%- include('landing') %>
            </div>
            <%- include('overlay') %>
        </div>
        <script src="./assets/js/scripts/index.js"></script>
        <script src="./assets/js/scripts/Overlay.js"></script>
        <script src="./assets/js/scripts/main.js"></script>
    </body>
</html>