<div id="framebar">
    <div id="frameResizableTop" class="frameDragPadder"></div>
    <div id="frameMain">
        <div id="frameTitleName">
            <h1><%= appname %></h1>
            <p>v<%= appver %></p>
        </div>
        <div id="frameWindowButtons">
            <div id="appclosebutton" class="framebutton">
                <p></p>
            </div>
            <div id="appmaximizebutton" class="framebutton">
                <p></p>
            </div>
            <div id="apphidebutton" class="framebutton">
                <p></p>
            </div>
        </div>
    </div>
</div>